{
  "root": true,

  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },

  "parser": "@babel/eslint-parser",
  "parserOptions": { "requireConfigFile" : "false" },
  "babelOptions": { "configFile": "./.babelrc" },

  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["import", "react", "react-hooks"],
  "settings": { "react": { "version": "detect" } },

  "rules": {
    "no-undef": "off",

    "indent": "off",
    "semi": "off",

    "import/no-duplicates": "error",

    "react/prop-types": "off",

    "react/display-name": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",

    "react/jsx-no-target-blank": "error",

    "react/react-in-jsx-scope": "off"
  }
}
